@page "/"

<PageTitle>Timetable</PageTitle>

<table class="timetable">
    <thead>
        <tr class="thead-tr">
            <td colspan="3"
                class="thead-td"
                style="padding-top: 10px;
                       padding-right: 20px;
                       padding-left: 20px;
                       padding-bottom: 10px;">
                <div class="header-inner">
                    <div>
                        StartTime
                    </div>
                    <div>
                        EndTime
                    </div>
                    <div>
                        TaskName
                    </div>
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < timetableEntries.Count; i++)
        {
            <tr class="tbody-tr">
                <td colspan="3"
                    class="@(i == (timetableEntries.Count - 1) ? "timetable-td task-row-padding-end" : "timetable-td task-row-padding-normal")">
                    <div class="inner">
                        <div class="inner-td-left">
                            @timetableEntries[i].StartTime
                        </div>
                        <div class="inner-td-mid">
                            @timetableEntries[i].EndTime
                        </div>
                        <div class="inner-td-right">
                            @timetableEntries[i].TaskName
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
