@page "/"

<PageTitle>Timetable</PageTitle>

<table class="timetable">
    <thead>
        <tr class="thead-tr">
            <td class="thead-td" style="padding-left: 10px;">
                Start time
            </td>
            <td class="thead-td">
                End time
            </td>
            <td class="thead-td">
                Task name
            </td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < timetableEntries.Count; i++)
        {
            <tr class="tbody-tr">
                <td colspan="3"
                    class="timetable-td"
                    style="padding-top: 0px;
                       padding-right: 20px;
                       padding-left: 20px;
                       padding-bottom: 20px;">
                    <div class="inner">
                        <div class="inner-td-left">
                            @timetableEntries[i].StartTime
                        </div>
                        <div class="inner-td-mid">
                            @timetableEntries[i].EndTime
                        </div>
                        <div class="inner-td-right">
                            @timetableEntries[i].TaskName
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
