@page "/"

<PageTitle>Timetable</PageTitle>

<table class="timetable">
    <thead>
        <tr class="thead-tr">
            <td class="thead-td" style="padding-left: 10px;">
                Start time
            </td>
            <td class="thead-td">
                End time
            </td>
            <td class="thead-td">
                Task name
            </td>
        </tr>
    </thead>
    <tbody>
        <tr class="tbody-tr">
            <td 
                colspan="3" 
                class="timetable-td" 
                style="padding-top: 0px;
                       padding-right: 15px;
                       padding-left: 15px;
                       padding-bottom: 15px;">
                <table class="inner">
                    <tr>
                        <td class="inner-td-left">
                            06:00 AM
                        </td>
                        <td class="inner-td-mid">
                            06:30 AM
                        </td>
                        <td class="inner-td-right">
                            Breakfast
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
