.timetable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 2px 30px 2px rgba(0,0,0,0.5);
    background: #fff; /* So the shadow is visible */
    border-radius: 2rem;
}

.thead-td {
    text-align: center;
    font-size: 24px;
}

.thead-tr{
}

.tbody-tr{
}

.timetable-td {
    text-align: center;
    font-size: 22px;
}

.inner {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);
    background: #fff; /* So the shadow is visible */
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.35fr;
}

.header-inner {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inner tr td {
}

.inner-td-left{
    border-right: 1.5px solid black;
}

.inner-td-mid {
}

.inner-td-right {
    border-left: 1.5px solid black;
}

.task-row-padding-normal {
    padding-top: 0rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.task-row-padding-end {
    padding-top: 0px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.floating-button {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.button-row {
    /* Set dimensions and background for visualization */
    width: 100%;
    /* Enable Flexbox */
    display: flex;
    /* Center horizontally and vertically */
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

#row-options-button-div {
    position: absolute;
    top: 0.25rem;
    right: 0.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    cursor: pointer;
    /*border: 0.1rem solid black;*/
    border-radius: 1.2rem;
    font-size: 0.9rem;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    background: #fff; /* So the shadow is visible */
}

#row-options-item-div {
    cursor: pointer;
    /*border: 0.1rem solid black;*/
    border-radius: 1.2rem;
    font-size: 0.9rem;
    width: 100%;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#row-options-delete-item-div {
    height: 1.6rem;
    width: 1.6rem;
    position: relative;
    top: 0.2rem;
    right: 0.3rem;
    cursor: pointer;
    /*border: 0.1rem solid black;*/
    border-radius: 1.2rem;
    font-size: 0.9rem;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    background: #fff; /* So the shadow is visible */
    text-align: center;
}

#row-options-edit-item-div {
    height: 1.6rem;
    width: 1.6rem;
    position: relative;
    top: 0.2rem;
    right: 0.3rem;
    cursor: pointer;
    /*border: 0.1rem solid black;*/
    border-radius: 1.2rem;
    font-size: 0.9rem;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    background: #fff; /* So the shadow is visible */
    text-align: center;
}

#delete-icon {
    font-size: 0.95rem;
    padding-top: 0.3rem;
    padding-bottom: 0rem;
}

#edit-icon {
    font-size: 0.95rem;
    padding-top: 0.3rem;
    padding-bottom: 0rem;
}

.option-items-div {
    width: 100%;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


